{{#each this}}
<li class="name-coutry"> <img src="{{flags.png}}" alt="" width="60" class="contry-img"> <b class="contry-name">{{name}}</b></li>
<p> <b>Capital:</b> {{capital}}</p>
<p> <b>Population:</b> {{population}}</p>
<p> <b>Languages:</b> 
{{#each languages}} 
{{name}}
{{/each}}
</p>
{{/each}}